*.o
.profile
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
org/
node_modules/
themes/
go/
Salt/
Public/
codeprep/
gwp/
.config/nvim/.DS_Store
# Mac starter folders 
Projects/
Pictures/
Music/
Movies/
Users/
Library/
Downloads/
Documents/
Desktop/
Applications/

# Vim 
.vim/
.viminfo

# Random
.yarnrc
.zsh_history
.zsh_sessions/
.zprofile
.omnisharp/
.pgadmin/
.netlify/
.docker/
.dlv/
.lesshst
.netrc
.n*
.b*
.cache/
.aws/
.aws-sam/
.local/
.zshrc
.s*
.thumbnails/
.cfg/
.rediscli_history
.CFUserTextEncoding
# emacs 
.doom.d/
.emacs.d/
.profile
# config
.config/starship.toml
.config/gatsby
.profile
.config/com.corsair/
.config/configstore/
.config/darktable/
.config/karabiner/
.config/yarn/
.config/coc/
.config/nvim_bckup/
# Vscode
.vscode
